#Django
*.pyc
__pycache__/
db.sqlite3
/media
/staticfiles
static/
local_settings.py
#VSCode
.vscode/
#Python
env/
venv/
ENV/
*.env
#IDE
.idea/
*.sublime-project
*.sublime-workspace
#OS.DS_Store
Thumbs.db
.DS_Store