{% extends 'global/base.html' %}

{% block content %}
  <div class="responsive-table">
    <table class="contacts-table">
      <caption class="table-caption">Sobre o Projeto</caption>
      <tbody>
        <tr class="table-row">
          <td class="table-cel">
            Este projeto é uma aplicação de agenda de contatos desenvolvida com Django. Ele permite que os usuários criem, visualizem, editem e excluam contatos, além de oferecer uma funcionalidade de pesquisa para facilitar a localização de contatos específicos.
          </td>
        </tr>
        <tr class="table-row">
          <td class="table-cel">
            O objetivo deste projeto é fornecer uma solução simples e eficiente para gerenciar contatos pessoais ou profissionais, utilizando as melhores práticas do desenvolvimento web com Django.
          </td>
        
        </tr>
        <tr class="table-row">
          <td class="table-cel">
            O projeto foi desenvolvido por <a href="https://evertonespeditoportifolio.vercel.app/" target="_blank">Everton Espedito</a>.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock content %}